In [1]:
k = 30

In [2]:
import pandas as pd
import numpy as np

import torch
import torch.optim as optim

In [3]:
df = pd.read_csv("whole_selected.csv")
df

,Ticker,Date,Open,High,Low,Close,Adj Close,Volume
0,0001.HK,2010-01-04,9.240858,9.286962,9.199347,9.222406,5.898139,5.826086e+05
1,0001.HK,2010-01-05,9.342293,9.406862,9.277736,9.351518,5.980711,7.809818e+05
2,0001.HK,2010-01-06,9.471419,9.471419,9.323854,9.360745,5.986612,7.584029e+05
3,0001.HK,2010-01-07,9.360745,9.434527,9.296189,9.388410,6.004304,8.268949e+05
4,0001.HK,2010-01-08,9.314628,9.443741,9.314628,9.416076,6.021997,1.041317e+06
...,...,...,...,...,...,...,...,...
1140567,ZBRA,2020-10-16,289.959991,295.369995,289.239990,293.000000,293.000000,2.188000e+05
1140568,ZBRA,2020-10-19,292.200012,299.359985,291.279999,291.570007,291.570007,3.476000e+05
1140569,ZBRA,2020-10-20,293.239990,300.000000,292.649994,294.829987,294.829987,2.111000e+05
1140570,ZBRA,2020-10-21,295.290009,300.329987,291.190002,291.859985,291.859985,2.331000e+05
1140571,ZBRA,2020-10-22,293.799988,301.329987,292.250000,300.910004,300.910004,3.217000e+05

In [4]:
df = df[["Ticker", "Date", "Open", "High", "Low", "Close"]]

In [5]:
tickers = df["Ticker"].unique()
numTickers = len(tickers)
print("Number of tickers: " + str(numTickers))
tickersDict = {}
for index, ticker in enumerate(tickers):
    tickersDict[ticker] = index

df["Ticker"] = df["Ticker"].apply(lambda ticker: tickersDict[ticker])
df

Number of tickers: 422

         Ticker        Date        Open        High         Low       Close
0             0  2010-01-04    9.240858    9.286962    9.199347    9.222406
1             0  2010-01-05    9.342293    9.406862    9.277736    9.351518
2             0  2010-01-06    9.471419    9.471419    9.323854    9.360745
3             0  2010-01-07    9.360745    9.434527    9.296189    9.388410
4             0  2010-01-08    9.314628    9.443741    9.314628    9.416076
...         ...         ...         ...         ...         ...         ...
1140567     421  2020-10-16  289.959991  295.369995  289.239990  293.000000
1140568     421  2020-10-19  292.200012  299.359985  291.279999  291.570007
1140569     421  2020-10-20  293.239990  300.000000  292.649994  294.829987
1140570     421  2020-10-21  295.290009  300.329987  291.190002  291.859985
1140571     421  2020-10-22  293.799988  301.329987  292.250000  300.910004

[1140572 rows x 6 columns]

In [6]:
datesValueCounts = df["Date"].value_counts()
validDates = datesValueCounts.loc[datesValueCounts == max(datesValueCounts)].index
validDates = list(validDates.sort_values())
print("Number of valid dates: " + str(len(validDates)))

Number of valid dates: 1843

In [7]:
print(validDates[:100])
validDates = validDates[5:]

['2010-12-22', '2011-01-11', '2011-01-12', '2011-06-29', '2011-06-30', '2012-06-18', '2012-06-19', '2012-06-20', '2012-06-21', '2012-06-22', '2012-06-25', '2012-06-26', '2012-06-27', '2012-06-28', '2012-06-29', '2012-07-03', '2012-07-05', '2012-07-06', '2012-07-09', '2012-07-10', '2012-07-11', '2012-07-12', '2012-07-13', '2012-07-17', '2012-07-18', '2012-07-19', '2012-07-20', '2012-07-23', '2012-07-24', '2012-07-25', '2012-07-26', '2012-07-27', '2012-07-30', '2012-07-31', '2012-08-01', '2012-08-02', '2012-08-03', '2012-08-07', '2012-08-08', '2012-08-09', '2012-08-10', '2012-08-13', '2012-08-14', '2012-08-15', '2012-08-16', '2012-08-17', '2012-08-20', '2012-08-21', '2012-08-22', '2012-08-23', '2012-08-24', '2012-08-28', '2012-08-29', '2012-08-30', '2012-08-31', '2012-09-04', '2012-09-05', '2012-09-06', '2012-09-07', '2012-09-10', '2012-09-11', '2012-09-12', '2012-09-13', '2012-09-14', '2012-09-18', '2012-09-19', '2012-09-20', '2012-09-21', '2012-09-24', '2012-09-25', '2012-09-26', '2012-09-27', '2012-09-28', '2012-10-03', '2012-10-04', '2012-10-05', '2012-10-09', '2012-10-10', '2012-10-11', '2012-10-12', '2012-10-15', '2012-10-16', '2012-10-17', '2012-10-18', '2012-10-19', '2012-10-22', '2012-10-24', '2012-10-25', '2012-10-26', '2012-10-31', '2012-11-01', '2012-11-02', '2012-11-05', '2012-11-06', '2012-11-07', '2012-11-08', '2012-11-09', '2012-11-12', '2012-11-13', '2012-11-14']

In [8]:
df = df[df["Date"].isin(validDates)]

In [9]:
dates = df["Date"].unique()
numDates = len(dates)
print("Number of valid dates: " + str(numDates))
datesDict = {}
for index, date in enumerate(dates):
    datesDict[date] = index

df["Date"] = df["Date"].apply(lambda date: datesDict[date])
df

Number of valid dates: 1838

         Ticker  Date        Open        High         Low       Close
603           0     0    8.646004    8.682895    8.553782    8.563008
604           0     1    8.581447    8.618338    8.470786    8.539949
605           0     2    8.586067    8.613732    8.521510    8.572234
606           0     3    8.567615    8.599899    8.503059    8.530723
607           0     4    8.530723    8.530723    8.378551    8.424669
...         ...   ...         ...         ...         ...         ...
1140529     421  1833  279.369995  284.549988  274.359985  275.390015
1140530     421  1834  276.220001  281.190002  274.450012  277.859985
1140531     421  1835  278.209991  286.170013  278.010010  284.739990
1140532     421  1836  287.230011  287.709991  275.529999  277.260010
1140533     421  1837  278.299988  280.500000  277.700012  280.160004

[775636 rows x 6 columns]

In [10]:
df = df.sort_values(by=["Ticker", "Date"])
df

         Ticker  Date        Open        High         Low       Close
603           0     0    8.646004    8.682895    8.553782    8.563008
604           0     1    8.581447    8.618338    8.470786    8.539949
605           0     2    8.586067    8.613732    8.521510    8.572234
606           0     3    8.567615    8.599899    8.503059    8.530723
607           0     4    8.530723    8.530723    8.378551    8.424669
...         ...   ...         ...         ...         ...         ...
1140529     421  1833  279.369995  284.549988  274.359985  275.390015
1140530     421  1834  276.220001  281.190002  274.450012  277.859985
1140531     421  1835  278.209991  286.170013  278.010010  284.739990
1140532     421  1836  287.230011  287.709991  275.529999  277.260010
1140533     421  1837  278.299988  280.500000  277.700012  280.160004

[775636 rows x 6 columns]

In [11]:
entries = df[["Open", "High", "Low", "Close"]].to_numpy()
entryArrays = entries.reshape((numTickers, numDates, 4)) # shape: (numStocks: m, numDates: T, numFeatures: 4)
entryArrays

array([[[  8.64600362,   8.68289541,   8.55378205,   8.56300844],
        [  8.58144744,   8.61833823,   8.47078587,   8.53994935],
        [  8.58606654,   8.61373193,   8.52151035,   8.57223384],
        ...,
        [  6.6066222 ,   6.62597725,   6.54855609,   6.58726667],
        [  6.54210441,   6.59371835,   6.51629719,   6.52274888],
        [  6.52274888,   6.6388811 ,   6.51629719,   6.53565273]],

       [[  8.30989207,   8.3292476 ,   8.25827763,   8.30343989],
        [  8.37440986,   8.38731322,   8.32279543,   8.37440986],
        [  8.42602429,   8.42602429,   8.35505432,   8.38731322],
        ...,
        [  9.78734915,   9.81960805,   9.71638017,   9.7421869 ],
        [  9.7421869 ,   9.79380133,   9.69702464,   9.709928  ],
        [  9.78734915,   9.82606022,   9.709928  ,   9.76154243]],

       [[  1.10050457,   1.10712534,   1.09255848,   1.10182843],
        [  1.10580148,   1.10580148,   1.08593636,   1.08726157],
        [  1.09123462,   1.10050457,   1.08858555,   1.09123462],
        ...,
        [  1.43745649,   1.44519856,   1.42713366,   1.43229508],
        [  1.43487572,   1.44261791,   1.42197224,   1.42455289],
        [  1.42197224,   1.45035998,   1.41939147,   1.44003714]],

       ...,

       [[ 20.36890602,  20.55335999,  20.23715401,  20.31620598],
        [ 20.42160797,  20.685112  ,  20.28985596,  20.57971001],
        [ 20.52700996,  20.60606003,  20.26350403,  20.57971001],
        ...,
        [ 18.75      ,  19.20999908,  18.72999954,  18.79000092],
        [ 18.80999947,  19.15999985,  18.71999931,  19.10000038],
        [ 19.11000061,  19.56999969,  19.09000015,  19.53000069]],

       [[ 12.1269236 ,  12.79767821,  12.1040572 ,  12.76718871],
        [ 12.78243346,  12.78243346,  12.5613889 ,  12.78243346],
        [ 12.57663365,  12.79005584,  12.32510104,  12.46992328],
        ...,
        [  5.90720671,   6.16636171,   5.89958434,   6.16636171],
        [  6.24258329,   6.25020567,   5.80049599,   5.87671793],
        [  5.96818427,   6.12825055,   5.93769549,   6.09776177]],

       [[ 32.02000046,  32.65000153,  31.79000092,  32.61000061],
        [ 32.75999832,  33.04000092,  32.45000076,  32.79999924],
        [ 32.79000092,  33.40999985,  32.79000092,  33.20999908],
        ...,
        [278.20999146, 286.17001343, 278.01000977, 284.73999023],
        [287.23001099, 287.70999146, 275.52999878, 277.26000977],
        [278.29998779, 280.5       , 277.70001221, 280.16000366]]])

In [12]:
entryArraysTransposed = entryArrays.T # shape: (numFeatures: 4, numDates: T, numStocks: m)
entryArraysClosingPrices = entryArraysTransposed[3] # shape: (numDates: T, numStocks: m)
ys = np.array([entryArraysClosingPrices[i + 1] / entryArraysClosingPrices[i] for i in range(len(entryArraysClosingPrices) - 1)]) # shape: (numDates-1: T-1, num_stocks: m)
ys # percentage change from period i to (i+1)

array([[0.99730713, 1.00854706, 0.98677938, ..., 1.01297014, 1.00119406,
        1.00582639],
       [1.00378041, 1.00154081, 1.00365418, ..., 1.        , 0.97555159,
        1.0125    ],
       [0.99515752, 0.99461541, 0.99514471, ..., 0.97567225, 0.95599021,
        0.9728998 ],
       ...,
       [0.9893411 , 0.99276788, 0.98579042, ..., 0.99365421, 1.03452685,
        1.02476069],
       [0.99020568, 0.99668874, 0.99459456, ..., 1.01649811, 0.95302842,
        0.97373049],
       [1.00197828, 1.00531563, 1.01086955, ..., 1.0225131 , 1.03761348,
        1.01045947]])

In [13]:
entryArraysTransposed = entryArrays.transpose(1, 0, 2) # shape: (numDates: T, numStocks: m, numFeatures: 4)
Ps = np.array([entryArraysTransposed[i:i+k] for i in range(len(entryArraysTransposed) - k + 1)])[:-1] # shape: (numBatches: T-k, priceSeriesLength: k, numStocks: m, numFeatures: 4)
Ps = Ps.transpose(0, 2, 1, 3) # shape: (numBatches: T-k, numStocks: m, priceSeriesLength: k, numFeatures: 4)
Ps # price history from period i to (i+k-1)

array([[[[  8.64600362,   8.68289541,   8.55378205,   8.56300844],
         [  8.58144744,   8.61833823,   8.47078587,   8.53994935],
         [  8.58606654,   8.61373193,   8.52151035,   8.57223384],
         ...,
         [  9.29618855,   9.45296631,   9.29618855,   9.43452731],
         [  9.37918373,   9.48985809,   9.36997112,   9.41607552],
         [  9.4990835 ,   9.55441428,   9.44374091,   9.53597528]],

        [[  8.30989207,   8.3292476 ,   8.25827763,   8.30343989],
         [  8.37440986,   8.38731322,   8.32279543,   8.37440986],
         [  8.42602429,   8.42602429,   8.35505432,   8.38731322],
         ...,
         [  8.49699327,   8.63893222,   8.47763774,   8.63248104],
         [  8.58731878,   8.66473993,   8.5808666 ,   8.6453844 ],
         [  8.54860771,   8.67119112,   8.54860771,   8.62602886]],

        [[  1.10050457,   1.10712534,   1.09255848,   1.10182843],
         [  1.10580148,   1.10580148,   1.08593636,   1.08726157],
         [  1.09123462,   1.10050457,   1.08858555,   1.09123462],
         ...,
         [  1.16539523,   1.18393637,   1.16142218,   1.1759904 ],
         [  1.18261116,   1.19188234,   1.1759904 ,   1.18923328],
         [  1.16672044,   1.19188234,   1.16672044,   1.18261116]],

        ...,

        [[ 20.36890602,  20.55335999,  20.23715401,  20.31620598],
         [ 20.42160797,  20.685112  ,  20.28985596,  20.57971001],
         [ 20.52700996,  20.60606003,  20.26350403,  20.57971001],
         ...,
         [ 18.02371597,  18.23451996,  17.602108  ,  18.20816803],
         [ 18.28722   ,  18.36627197,  18.10276604,  18.26086998],
         [ 18.31357002,  18.39262199,  17.78656197,  17.89196396]],

        [[ 12.1269236 ,  12.79767821,  12.1040572 ,  12.76718871],
         [ 12.78243346,  12.78243346,  12.5613889 ,  12.78243346],
         [ 12.57663365,  12.79005584,  12.32510104,  12.46992328],
         ...,
         [ 11.68483593,  11.78392465,  11.41043692,  11.58574722],
         [ 11.65434715,  11.65434715,  11.28085942,  11.3342146 ],
         [ 11.21988186,  11.70770234,  11.09792674,  11.26561467]],

        [[ 32.02000046,  32.65000153,  31.79000092,  32.61000061],
         [ 32.75999832,  33.04000092,  32.45000076,  32.79999924],
         [ 32.79000092,  33.40999985,  32.79000092,  33.20999908],
         ...,
         [ 36.        ,  36.20999908,  35.24000168,  35.56000137],
         [ 34.72000122,  35.99000168,  33.25      ,  34.54000092],
         [ 34.72999954,  35.25      ,  34.72999954,  34.86000061]]],


       [[[  8.58144744,   8.61833823,   8.47078587,   8.53994935],
         [  8.58606654,   8.61373193,   8.52151035,   8.57223384],
         [  8.56761474,   8.59989923,   8.50305855,   8.53072296],
         ...,
         [  9.37918373,   9.48985809,   9.36997112,   9.41607552],
         [  9.4990835 ,   9.55441428,   9.44374091,   9.53597528],
         [  9.44374091,   9.53597528,   9.38841012,   9.43452731]],

        [[  8.37440986,   8.38731322,   8.32279543,   8.37440986],
         [  8.42602429,   8.42602429,   8.35505432,   8.38731322],
         [  8.38731322,   8.38731322,   8.32279543,   8.34215096],
         ...,
         [  8.58731878,   8.66473993,   8.5808666 ,   8.6453844 ],
         [  8.54860771,   8.67119112,   8.54860771,   8.62602886],
         [  8.66473993,   8.67119112,   8.6131255 ,   8.61957767]],

        [[  1.10580148,   1.10580148,   1.08593636,   1.08726157],
         [  1.09123462,   1.10050457,   1.08858555,   1.09123462],
         [  1.09520631,   1.09917936,   1.08328865,   1.08593636],
         ...,
         [  1.18261116,   1.19188234,   1.1759904 ,   1.18923328],
         [  1.16672044,   1.19188234,   1.16672044,   1.18261116],
         [  1.17863811,   1.19055713,   1.17863811,   1.19055713]],

        ...,

        [[ 20.42160797,  20.685112  ,  20.28985596,  20.57971001],
         [ 20.52700996,  20.60606003,  20.26350403,  20.57971001],
         [ 20.57971001,  20.76416397,  19.94729996,  20.07905197],
         ...,
         [ 18.28722   ,  18.36627197,  18.10276604,  18.26086998],
         [ 18.31357002,  18.39262199,  17.78656197,  17.89196396],
         [ 17.73386002,  17.83926201,  17.18050003,  17.52305603]],

        [[ 12.78243346,  12.78243346,  12.5613889 ,  12.78243346],
         [ 12.57663365,  12.79005584,  12.32510104,  12.46992328],
         [ 12.14216836,  12.21839067,  11.90587977,  11.92112452],
         ...,
         [ 11.65434715,  11.65434715,  11.28085942,  11.3342146 ],
         [ 11.21988186,  11.70770234,  11.09792674,  11.26561467],
         [ 11.24274826,  11.43330332,  11.09030436,  11.17414833]],

        [[ 32.75999832,  33.04000092,  32.45000076,  32.79999924],
         [ 32.79000092,  33.40999985,  32.79000092,  33.20999908],
         [ 33.11999893,  33.34000015,  32.15000153,  32.31000137],
         ...,
         [ 34.72000122,  35.99000168,  33.25      ,  34.54000092],
         [ 34.72999954,  35.25      ,  34.72999954,  34.86000061],
         [ 34.59999847,  35.06000137,  34.43000031,  34.61999893]]],


       [[[  8.58606654,   8.61373193,   8.52151035,   8.57223384],
         [  8.56761474,   8.59989923,   8.50305855,   8.53072296],
         [  8.53072296,   8.53072296,   8.3785515 ,   8.42466869],
         ...,
         [  9.4990835 ,   9.55441428,   9.44374091,   9.53597528],
         [  9.44374091,   9.53597528,   9.38841012,   9.43452731],
         [  9.54518789,   9.59130606,   9.28696215,   9.58207967]],

        [[  8.42602429,   8.42602429,   8.35505432,   8.38731322],
         [  8.38731322,   8.38731322,   8.32279543,   8.34215096],
         [  8.2969887 ,   8.38731322,   8.2969887 ,   8.31634325],
         ...,
         [  8.54860771,   8.67119112,   8.54860771,   8.62602886],
         [  8.66473993,   8.67119112,   8.6131255 ,   8.61957767],
         [  8.56796324,   8.63893222,   8.56796324,   8.62602886]],

        [[  1.09123462,   1.10050457,   1.08858555,   1.09123462],
         [  1.09520631,   1.09917936,   1.08328865,   1.08593636],
         [  1.07799039,   1.08990941,   1.07666653,   1.08328865],
         ...,
         [  1.16672044,   1.19188234,   1.16672044,   1.18261116],
         [  1.17863811,   1.19055713,   1.17863811,   1.19055713],
         [  1.18526023,   1.18923328,   1.1759904 ,   1.1812873 ]],

        ...,

        [[ 20.52700996,  20.60606003,  20.26350403,  20.57971001],
         [ 20.57971001,  20.76416397,  19.94729996,  20.07905197],
         [ 20.13175201,  20.685112  ,  20.05270004,  20.57971001],
         ...,
         [ 18.31357002,  18.39262199,  17.78656197,  17.89196396],
         [ 17.73386002,  17.83926201,  17.18050003,  17.52305603],
         [ 17.86561203,  18.39262199,  17.86561203,  18.26086998]],

        [[ 12.57663365,  12.79005584,  12.32510104,  12.46992328],
         [ 12.14216836,  12.21839067,  11.90587977,  11.92112452],
         [ 11.89825739,  11.9744797 ,  11.57812484,  11.82965818],
         ...,
         [ 11.21988186,  11.70770234,  11.09792674,  11.26561467],
         [ 11.24274826,  11.43330332,  11.09030436,  11.17414833],
         [ 11.34183698,  11.35708101,  11.16652595,  11.28085942]],

        [[ 32.79000092,  33.40999985,  32.79000092,  33.20999908],
         [ 33.11999893,  33.34000015,  32.15000153,  32.31000137],
         [ 32.54000092,  33.08000183,  32.45999908,  32.93000031],
         ...,
         [ 34.72999954,  35.25      ,  34.72999954,  34.86000061],
         [ 34.59999847,  35.06000137,  34.43000031,  34.61999893],
         [ 35.27000046,  36.20999908,  35.06000137,  35.77000046]]],


       ...,


       [[[  6.87114506,   6.87114506,   6.65178446,   6.71630226],
         [  6.76146501,   6.76146501,   6.61307389,   6.62597725],
         [  6.54210441,   6.58726667,   6.4517794 ,   6.49694166],
         ...,
         [  6.58081499,   6.65823614,   6.53565273,   6.58726667],
         [  6.68404336,   6.72275394,   6.56791163,   6.65823614],
         [  6.69049504,   6.72920611,   6.64533278,   6.65823614]],

        [[  9.80670469,   9.86477031,   9.71638017,   9.78734915],
         [  9.79380133,   9.80025252,   9.65186238,   9.65831357],
         [  9.63250684,   9.75509026,   9.49701908,   9.53573015],
         ...,
         [  9.6776691 ,   9.77444579,   9.63250684,   9.71638017],
         [  9.77444579,   9.85186695,   9.7421869 ,   9.78734915],
         [  9.78734915,   9.83251141,   9.75509026,   9.81315686]],

        [[  1.56133066,   1.56649208,   1.53810422,   1.55100783],
         [  1.55358847,   1.55358847,   1.52520061,   1.52778138],
         [  1.52520061,   1.53810422,   1.50971636,   1.52003919],
         ...,
         [  1.41423005,   1.44519856,   1.41164928,   1.43745649],
         [  1.44519856,   1.46584424,   1.41939147,   1.45035998],
         [  1.45810217,   1.46068282,   1.43487572,   1.45294075]],

        ...,

        [[ 15.19999981,  15.55000019,  15.02000046,  15.42000008],
         [ 15.44999981,  15.44999981,  14.51000023,  14.63000011],
         [ 14.52000046,  15.5       ,  14.52000046,  15.48999977],
         ...,
         [ 18.70999908,  18.86000061,  18.44000053,  18.76000023],
         [ 18.89999962,  19.53000069,  18.87999916,  19.29999924],
         [ 19.44000053,  19.61000061,  18.68000031,  18.90999985]],

        [[  5.85385117,   5.91482909,   5.64805172,   5.71665166],
         [  5.79287361,   5.84622916,   5.64805172,   5.79287361],
         [  5.82336239,   5.83098477,   5.66329611,   5.70902928],
         ...,
         [  6.0520286 ,   6.09776177,   5.93007348,   6.02153982],
         [  6.03678421,   6.0520286 ,   5.89196232,   5.96056226],
         [  5.93007348,   5.97580665,   5.77762922,   5.96056226]],

        [[254.03999329, 257.23001099, 253.55999756, 257.20999146],
         [260.8999939 , 264.57998657, 258.02999878, 262.01000977],
         [264.10998535, 264.10998535, 255.32000732, 260.67001343],
         ...,
         [277.41000366, 277.41000366, 273.67001343, 275.32998657],
         [279.36999512, 284.54998779, 274.35998535, 275.39001465],
         [276.22000122, 281.19000244, 274.45001221, 277.85998535]]],


       [[[  6.76146501,   6.76146501,   6.61307389,   6.62597725],
         [  6.54210441,   6.58726667,   6.4517794 ,   6.49694166],
         [  6.51629719,   6.61307389,   6.49694166,   6.54855609],
         ...,
         [  6.68404336,   6.72275394,   6.56791163,   6.65823614],
         [  6.69049504,   6.72920611,   6.64533278,   6.65823614],
         [  6.6066222 ,   6.62597725,   6.54855609,   6.58726667]],

        [[  9.79380133,   9.80025252,   9.65186238,   9.65831357],
         [  9.63250684,   9.75509026,   9.49701908,   9.53573015],
         [  9.51637462,   9.58734458,   9.44540465,   9.54218134],
         ...,
         [  9.77444579,   9.85186695,   9.7421869 ,   9.78734915],
         [  9.78734915,   9.83251141,   9.75509026,   9.81315686],
         [  9.78734915,   9.81960805,   9.71638017,   9.7421869 ]],

        [[  1.55358847,   1.55358847,   1.52520061,   1.52778138],
         [  1.52520061,   1.53810422,   1.50971636,   1.52003919],
         [  1.52261996,   1.52261996,   1.49681287,   1.49681287],
         ...,
         [  1.44519856,   1.46584424,   1.41939147,   1.45035998],
         [  1.45810217,   1.46068282,   1.43487572,   1.45294075],
         [  1.43745649,   1.44519856,   1.42713366,   1.43229508]],

        ...,

        [[ 15.44999981,  15.44999981,  14.51000023,  14.63000011],
         [ 14.52000046,  15.5       ,  14.52000046,  15.48999977],
         [ 15.65999985,  16.34000015,  15.56000042,  15.84000015],
         ...,
         [ 18.89999962,  19.53000069,  18.87999916,  19.29999924],
         [ 19.44000053,  19.61000061,  18.68000031,  18.90999985],
         [ 18.75      ,  19.20999908,  18.72999954,  18.79000092]],

        [[  5.79287361,   5.84622916,   5.64805172,   5.79287361],
         [  5.82336239,   5.83098477,   5.66329611,   5.70902928],
         [  5.77000721,   5.82336239,   5.47274106,   5.49560782],
         ...,
         [  6.03678421,   6.0520286 ,   5.89196232,   5.96056226],
         [  5.93007348,   5.97580665,   5.77762922,   5.96056226],
         [  5.90720671,   6.16636171,   5.89958434,   6.16636171]],

        [[260.8999939 , 264.57998657, 258.02999878, 262.01000977],
         [264.10998535, 264.10998535, 255.32000732, 260.67001343],
         [264.91000366, 265.29998779, 255.07000732, 255.5       ],
         ...,
         [279.36999512, 284.54998779, 274.35998535, 275.39001465],
         [276.22000122, 281.19000244, 274.45001221, 277.85998535],
         [278.20999146, 286.17001343, 278.01000977, 284.73999023]]],


       [[[  6.54210441,   6.58726667,   6.4517794 ,   6.49694166],
         [  6.51629719,   6.61307389,   6.49694166,   6.54855609],
         [  6.58081499,   6.68404336,   6.53565273,   6.67114   ],
         ...,
         [  6.69049504,   6.72920611,   6.64533278,   6.65823614],
         [  6.6066222 ,   6.62597725,   6.54855609,   6.58726667],
         [  6.54210441,   6.59371835,   6.51629719,   6.52274888]],

        [[  9.63250684,   9.75509026,   9.49701908,   9.53573015],
         [  9.51637462,   9.58734458,   9.44540465,   9.54218134],
         [  9.51637462,   9.54863351,   9.40669456,   9.41314575],
         ...,
         [  9.78734915,   9.83251141,   9.75509026,   9.81315686],
         [  9.78734915,   9.81960805,   9.71638017,   9.7421869 ],
         [  9.7421869 ,   9.79380133,   9.69702464,   9.709928  ]],

        [[  1.52520061,   1.53810422,   1.50971636,   1.52003919],
         [  1.52261996,   1.52261996,   1.49681287,   1.49681287],
         [  1.4942321 ,   1.49681287,   1.47100565,   1.48132849],
         ...,
         [  1.45810217,   1.46068282,   1.43487572,   1.45294075],
         [  1.43745649,   1.44519856,   1.42713366,   1.43229508],
         [  1.43487572,   1.44261791,   1.42197224,   1.42455289]],

        ...,

        [[ 14.52000046,  15.5       ,  14.52000046,  15.48999977],
         [ 15.65999985,  16.34000015,  15.56000042,  15.84000015],
         [ 15.67000008,  16.15999985,  15.46000004,  16.14999962],
         ...,
         [ 19.44000053,  19.61000061,  18.68000031,  18.90999985],
         [ 18.75      ,  19.20999908,  18.72999954,  18.79000092],
         [ 18.80999947,  19.15999985,  18.71999931,  19.10000038]],

        [[  5.82336239,   5.83098477,   5.66329611,   5.70902928],
         [  5.77000721,   5.82336239,   5.47274106,   5.49560782],
         [  5.49560782,   5.73951843,   5.46511904,   5.73951843],
         ...,
         [  5.93007348,   5.97580665,   5.77762922,   5.96056226],
         [  5.90720671,   6.16636171,   5.89958434,   6.16636171],
         [  6.24258329,   6.25020567,   5.80049599,   5.87671793]],

        [[264.10998535, 264.10998535, 255.32000732, 260.67001343],
         [264.91000366, 265.29998779, 255.07000732, 255.5       ],
         [257.07998657, 266.79000854, 256.69000244, 266.47000122],
         ...,
         [276.22000122, 281.19000244, 274.45001221, 277.85998535],
         [278.20999146, 286.17001343, 278.01000977, 284.73999023],
         [287.23001099, 287.70999146, 275.52999878, 277.26000977]]]])

In [14]:
def totalReward(actions, ys, k, tranCostRate):
    reward = 0
    n = len(actions)

    assert len(y) >= n + k

    originalWeights = []
    inflatedWeights = []
    updatedWeights = [np.zeros(len(actions[0]))]
    for index, currWeights in enumerate(actions):
        originalWeights.append(currWeights)
        inflatedWeights.append(currWeights * ys[index + k])
        updatedWeights.append(inflatedWeights[-1] / (currWeights @ ys[index + k]))

    for index in range(n):
        tranCost = tranCostRate * abs(originalWeights[index] - updatedWeights[index]).sum()
        reward += np.log(inflatedWeights[index] * (1 - tranCost))
    
    reward /= n

    return reward